
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.table-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  animation: fadeIn 1s ease-in-out;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #eaf7ea;
  transform: scale(1.02);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

td:hover {
  color: #ff5722; 
  cursor: pointer; 
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}